.Comment{
    width: 30%;
    border: 2px solid lightseagreen;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}

.comments{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}