.App{
    text-align: center;
    background:  #EAE7DC;
}

.App>h1{
    color: #E85A4F;
}

.wrap{
    display: flex;
    justify-content: space-evenly;
}

.block{
    width: 45%;
    border-radius: 20px;
    border: 2px solid #E85A4F;
    margin-top: 10px;
    background: #EAE7DC  ;
    color: #E98074;
}