body{
    background: #E3DCD2;
}


.users{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}
.user{
    width: 45%;
    border: 2px solid #013328;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #CC8B65;
    color: #013328;
}

.information{
    display: flex;
    justify-content: center;

}

.inf{
    width: 45%;
    border: 2px solid #013328;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #CC8B65;
    color: #013328;
}
.btn>button{
    width: 30%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #CC8B65;
    color: #013328;
}

.btn>button:hover{
    width: 40%;
    height: 40px;
    background: #013328;
    color: #CC8B65;
    cursor: pointer;
    transition: 100ms;
}